.login {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.login::after {
  background-image: url(https://wallpapershome.com/images/pages/pic_h/749.jpg),
    linear-gradient(rgba(219, 166, 166, 0.8), rgba(0, 0, 172, 0.9));
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    url("https://wallpapershome.com/images/pages/pic_h/749.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.login > :nth-child(1) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  text-align: center;
  line-height: 1;
  /* Tranperen image */
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  backdrop-filter: brightness(60%);
  backdrop-filter: contrast(40%);
  backdrop-filter: drop-shadow(4px 4px 10px blue);
  backdrop-filter: grayscale(30%);
  backdrop-filter: hue-rotate(120deg);
  backdrop-filter: invert(70%);
  backdrop-filter: opacity(20%);
  backdrop-filter: sepia(90%);
  backdrop-filter: saturate(80%);
  max-width: 50%;
  max-height: 50%;
  padding: 20px 40px;
}
.content {
  width: 30%;
  animation: example;
  animation-duration: 1s;
}
.title {
  font-size: 2em;
}

.form-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form-input input {
  width: 80%;
  padding: 1em;
  border: none;
  border-radius: 5px;
  outline: none;
  margin: 1em 0;
}
.btn-form {
  transition: transform;
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;
  background-color: #212529;
  color: #fff;
  width: 40%;
  cursor: "pointer";
}
.btn-form:hover {
  transform: scale(1.2);
  background-color: brown;
}

@keyframes example {
  from {
    left: 0%;
  }
  to {
    left: 50%;
  }
}
