footer {
  margin-top: 10%;
  color: #4d4d4d;
  background-color: #eeeeee;
}

footer > :nth-child(1) {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: flex-start;
}

.footer-text {
  width: 50%;
}
.footer-links {
  padding-left: 20%;
  width: 30%;
}

ul li {
  list-style-type: none;
}
.policy nav {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #eeeeee;
}
.policy nav ul {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.policy a {
  text-align: left;
  text-decoration: none;
  color: #4d4d4d;
}
